/* Reset básico */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header e navegação */
header {
    background-color: #222;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: -20px;
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #f0c040;
}

/* Swiper */
.swiper-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px 20px;
    margin: auto;
    box-sizing: border-box;
}

.swiper-slide {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.swiper-slide:hover {
    transform: translateY(-5px);
}

.swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #eee;
}

.swiper-slide p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
    transition: color 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #007bff;
}

.swiper-pagination-bullet {
    background-color: #999;
    opacity: 1;
    transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #007bff;
}

h2{
    text-align: left;
    padding: 20px;

}

a{
    text-align: right;
}

/* Responsivo */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        background-color: #222;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        padding: 15px;
        display: none;
        border-radius: 8px;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
    }
}